.as-container .at {
  display: inline-block;
  margin: 0px 1px;
  padding: 0px 1px;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 2px;
  font: 13px/1.4 arial,sans-serif;
  vertical-align: baseline;
  color: #427fed;
  white-space: nowrap;
}
.as-container .at span { color: #888;}

.as-menu,
.as-menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.as-menu {
  position: absolute;
  width: 200px;
  background: #fff;
  border: solid 1px #ccc;
  cursor: pointer;
}
.as-menu li {
  padding: 10px 15px;
  height: 30px;
}
.as-menu li.hover {
  background: #f1f1f1;
}
.as-menu li .avatar {
  float: left;
}
.as-menu li .info {
  float: right;
  width: 130px;
}
.as-menu li .nick {
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}
.as-menu li .group {
  color: #999;
}